# Release 담당자 두 명을 함께 지정해 작성자가 아닌 담당자가 검토할 수 있게 합니다.
* @AKC-JHBae @AKC-JUChoi

/.github/ @AKC-JHBae @AKC-JUChoi
/products/ @AKC-JHBae @AKC-JUChoi
/schemas/ @AKC-JHBae @AKC-JUChoi
/scripts/ @AKC-JHBae @AKC-JUChoi
/docs/ @AKC-JHBae @AKC-JUChoi
